<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>About Me</title>

    <link rel="stylesheet" href="/css/other.css" />
  </head>
  <body>
    <nav>
      <a href="/">Home</a>
      <a href="/work">My Work</a>
      <a href="/about">About Me</a>
    </nav>
    <div class="container">
      <div>
        <img src="/images/lik.webp" alt="Peter Lik" />
      </div>
      <div>
        <h2>About Me</h2>
        <p>
          Lik was born in Melbourne to Czech parents who emigrated to Australia
          after World War II.He took his first photo at the age of 8, after his
          parents gave him a Kodak Brownie box camera for his birthday. The shot
          was of a spider web in the garden of the family home. In his youth,
          Lik would bring his camera on family vacations and take photos of
          country scenes and the ocean. This practice continued when he took
          road trips out of the city and into the wilds of Australia, often
          accompanied by his friend and fellow photographer Michael Plumridge.
          As a photographer, Lik is self-taught, learning mostly by trial and
          error.
        </p>
      </div>
    </div>
  </body>
</html>
