<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Peter Lik</title>

    <link rel="stylesheet" href="/css/main.css" />
</head>

<body class="home-page">
<div>Peter Lik</div>
<div><h1>Photographer</h1></div>

<div><nav>
    <a href="/">Home</a>
    <a href="/work">My Work</a>
    <a href="/about">About Me</a>
</nav>
</div>
</body>

</html>