<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>My Work</title>

    <link rel="stylesheet" href="/css/other.css" />
  </head>
  <body>
    <nav>
      <a href="/">Home</a>
      <a href="/work">My Work</a>
      <a href="/about">About Me</a>
    </nav>
    <div>
      <img src="/images/1.webp" alt="one" />
      <img src="/images/2.webp" alt="two" />
      <img src="/images/3.webp" alt="three" />
      <img src="/images/4.webp" alt="four" />
      <img src="/images/5.webp" alt="five" />
      <img src="/images/6.webp" alt="six" />
      <img src="/images/7.webp" alt="seven" />
      <img src="/images/8.webp" alt="eight" />
    </div>
  </body>
</html>
